{% extends 'baseUser.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>FirtName</th>
                <td>{{ user.firtName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn mt-0-0 btn-outline-primary btn-lg site-animate">Edit Profil</a>
    <a href="{{ path('app_logout') }}" class="btn btn-outline-danger btn-lg site-animate">Logout</a> <br> <br>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('user_index') }}">back to list</a>
    {{ include('user/_delete_form.html.twig') }}
    {% endif %}


    {%  if reservations is not empty %}
        <h1>Reservations</h1>
        <table class="table">
            <tbody>
            {%  for reservation in reservations %}
                <tr>
                    <th><a href="{{ path('reservation_edit', {id: reservation.id}) }}">Reservation at </a></th>
                    <td>{{ reservation.resAt|date('d-m-Y') }}</td>
                    <td><a href="{{ path('reservation_show', {'id': reservation.id}) }}">Show</a>
                        <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {%  endif %}

{% endblock %}
